<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <settings>
      <setting name="Eloqua.EloquaTrackingScriptsEnabled" env:require="Local or QACD or QACM or ProdCM" value="false" />
      <setting name="Eloqua.EloquaTrackingScriptsEnabled" env:require="ProdCD" value="true" />
      <!--Eloqua api connect-->
      <setting name="Eloqua.BaseUrlCacheDurationInMinutes" value="15" />
      <setting name="Eloqua.SiteName" value="{ELOQUA_SITENAME}" />
      <setting name="Eloqua.SiteId" value="{ELOQUA_SITE_ID}" />
      <setting name="Eloqua.UserName" value="{USERNAME}" />
      <setting name="Eloqua.Password" value="{PASSOWRD}" />

      <!--Sitecore Forms - Field Template Ids -->
      <setting name="Eloqua.SitecoreFormsField.InputTemplateId" value="{0908030B-4564-42EA-A6FA-C7A5A2D921A8}" />
      <setting name="Eloqua.SitecoreFormsField.EmailTemplateId" value="{886ADEC1-ABF8-40E1-9926-D9189C4E8E1B}" />
      <setting name="Eloqua.SitecoreFormsField.HiddenTemplateId" value="{5092AFD5-45C0-4FB0-91B1-56B1B960AC7F}" />
      <setting name="Eloqua.SitecoreFormsField.DropdownTemplateId" value="{9121D435-48B8-4649-9D13-03D680474FAD}" />
      <setting name="Eloqua.SitecoreFormsField.CheckboxTemplateId" value="{2F07293C-077F-456C-B715-FDB791ACB367}" />
      <setting name="Eloqua.SitecoreFormsField.MultilineTemplateId" value="{D8386D04-C1E3-4CD3-9227-9E9F86EF3C88}" />
      <setting name="Eloqua.SitecoreFormsField.RadioButtonsTemplateId" value="{5B672865-55D2-413E-B699-FDFC7E732CCF}" />
      <setting name="Eloqua.SitecoreFormsField.MultiCheckboxesTemplateId" value="{5B672865-55D2-413E-B699-FDFC7E732CCF}" />
      <setting name="Eloqua.SitecoreFormsField.EloquaTrackingScriptsTemplateId" value="{F6F43C8F-B2F8-47A5-956C-90558D481B56}" />

      <!--Eloqua Settings Field Ids -->
      <setting name="Eloqua.EloquaFormId" value="{D65878B5-C07C-485A-B0F1-CF0F4D53D87B}" />
      <setting name="Eloqua.EloquaFieldId" value="{4FF02812-CA25-4DC0-A1CD-A28F5CED5AD4}" />


    </settings>
  </sitecore>
</configuration>